* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

body {
    background-color: black;

}

img {
    display: block;
    height: 374px;
    margin: 150px auto 0;

}


h2 {
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.section_sorteio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input {
    width: 342px;
    height: 74px;
    border: none;
    border-radius: 14px;
    text-align: center;
    color: aliceblue;
    opacity: 70%;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;

}

input[type="number"] {
    color: red;
  }

input[type="number"]::-webkit-inner-spin-button {
    
    visibility: hidden;
  }
  
 

button {
    display: block;
    margin: 0 auto;
    width: 342px;
    height: 72px;
    border: 1px solid #08cdeb;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 32px;
    color: #fff;
    background-color: transparent;



}

button:hover{
    opacity: 0.9;

}

button:active{
    opacity: 0.6;
}


.myNumberDrawn{
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: #090909;
    margin-top: 20px;
    color: red;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    padding-top: 25px;
    border: 1px solid #fff;
}


